@value red from "./css/colors.css"; 

.container {
  background-color: red;
  padding: 15px;
  box-shadow: 0 2px 6px 1px rgba(0,0,0, .1);
}

.link {
  color: #FFF;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}